.mat-expansion-panel-spacing {
    margin:0px !important; 
}
.example-action-buttons {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: stretch;
   margin: 5px;
   align-items: flex-start;
   justify-content: flex-start;
   padding: 15px;
 }
 
 .example-headers-align .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: center;
 }
 
 .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
   margin-left: 8px;
 }
form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
   align-items: flex-start;
}
.form-row
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: flex-start;
   align-items: stretch;
}
.form-group
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
}
label{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
   width: 30%;
   align-items: self-start;
   height: 100%;
}
.button-algin
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
}
.btn{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: flex-start;
   width: 7%;
   margin: 0px;
}
.mat-pro-spi{
   width: 60px !important;
   height: 22px !important;
   bottom: 23px;
   display: flex;
   position: absolute;
   --mdc-circular-progress-size: 100px;
   --mdc-circular-progress-active-indicator-width: 100px;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}
.save-btn{
      width: 80% !important;
}